

.find .find__header-list{
    /*  header icon 정렬  */
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
   align-items: center;
    
}

.find .find__header-btn__title{
    display: block;
}

.find .header-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find .header-btn__title{
    margin-top: 20px;
    font-size: 16px;
}
.find .header-btn__icon{
    font-size: 12px;
}

.find__recommended{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #a9b2c7;
}

.find .find__title{
    font-size: 12px;
    opacity: .7;
    margin-bottom: 20px;
}