
.friends .friends__plus{
    padding:20px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    margin: 20px 0px;
}

.friends__plus .friends__title,
.friends__list .friends__title{
    font-size: 14px;
    opacity: .7;
    margin-bottom: 12px;
}

