/* friends list , index.html */

.friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

/* g-avatar animation effect */
@keyframes spin{
    form{
        transform: perspective(120px) rotateY(0deg);
    }to{
        transform: perspective(120px) rotateY(360deg);
    }
}


.friend__avatar.g-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.friend__avatar.g-avatar:hover{
    /* width: 55px;
    border-radius: 50%; */
    animation: spin 1s forwards linear infinite ;
}

/* m-avatar animation effect */
@keyframes pulse {
    50% {
      transform:scale(0.9);
    }
    100% {
      transform:scale(1.0);
    }
  }

.friend__avatar.m-avatar{
    width: 50px;
    border-radius: 50%;
}

.friend__avatar.m-avatar:hover{
   
    animation: pulse .3s linear infinite alternate;
}


.friend .friend__column{
    display: flex;
    align-items: center;
}

.friend .friend__avatar{
    margin-right: 15px;
}

.friend__content .friend__name{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp{
    opacity: .7;
}
.friend__content .friend__bottom-text{
    /* only in chat */
    font-size: 15px;
}

.friend__content .friend__status,
.friend .chat__timestamp{
    /* only in friend list */
    font-size: 14px;
}

.friend .friend__now-listening{
    border:1px solid #74ebd5;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}
.friend__now-listening span{
    opacity: .7;
}

.friend__now-listening i{
    font-size: 12px;
}

.friend__add-btn{
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    background-color: #ACB6E5;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 15px 15px;
    opacity: .7;
}
